body
    background-color: #e9eeee
    font-family: Open Sans
    margin: 0
    min-width: 674px
    overflow-x: hidden
    padding: 0
    .navbar
        background-color: #019c97
        left: 0
        margin: auto
        position: fixed
        right: 0
        top: 0
        width: 100%
    .navbar__bell
        font-size: 24px
    input
        border: 1px solid #ccc
        border-radius: 8px
        font-size: 14px
        width: 370px
        padding: 15px 10px 14px 15px
    .button-icon
        background-color: #ffffff
        border: 1px solid #ccc
        border-radius: 0 8px 8px 0
        margin: 0 0 0 -58px
        padding: 11px 14px 11px 14px
    .icon-search
        color: #189c97
        font-size: 20px
    .icon-down-open
        color: #b9bdbd
        font-size: 20px
    hr
        border: 2px solid #019c97
        margin: 1rem 0 0 0
    h1
        padding-top: 1rem
    p
        margin-top: -14px
