body
    background-color: red
    font-family: Open Sans
    margin: 0
    overflow-x: hidden
    padding: 0
    .navbar
        position: fixed
        top: 0
        padding-left: 1rem
    input
        border: 0
        border-radius: 8px
        font-size: 1rem
        padding-left: 1rem
        width: 340px
        padding: 1rem
    button
        border: 0
        border-radius: 8px
        font-size: 1rem
        padding: 1rem
    i
        font-size: 1rem