.course
    background-color: #e9eeee
    border-radius: 10px 10px 0 0
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding-left: 3rem
    .course__courses
        background-color: #ffffff
        border-radius: 10px 10px 0 0
        height: 500px
        margin: 1rem
        width: 500px
        .course__courses-lectura
            background-color: #36ad5b
            border-radius: 10px 10px 0
            display: flex
            flex-wrap: wrap
            flex-grow: 1
            justify-content: space-around
            .course__courses-lectura1
                background-color: #36ad5b
                border-radius: 10px 10px 0 0
                color: white
                flex-grow: 1
                text-align: center
        .course__courses-iconos
            border-radius: 10px 10px 0 0
            display: flex
            flex-grow: 1
            justify-content: center
            .fa
                color: white
                font-size: 6rem
                opacity: 0.2
        .course__courses-iconos2
            background-color: #36ad5b
            display: flex
            justify-content: space-around
            .fa
                color: white
                font-size: 2rem
                opacity: 0.3
