.main__course
    background-color: #e9eeee
    margin: auto
    .course
        background-color: #e9eeee
        display: flex
        flex-wrap: wrap
        margin: 2rem 6rem 0 0
        .course__courses
            background-color: #ffffff
            border-radius: 15px 15px 15px 15px
            flex-wrap: wrap
            height: 400px
            margin: 0 0 2rem 2rem
            width: 430px
            .course__courses-madurez
                border-radius: 15px 15px 0 0
                display: flex
                .course__courses-madurez1
                    background-color: #845abd
                    border-radius: 15px 15px 0 0
                    flex-grow: 1
                .lectura
                    background-color: #36ad5b
                .matematica
                    background-color: #ee5252
                .madurez-card1
                    color: white
                    font-size: 2rem
                    margin-left: 1rem
                    opacity: 0.9
                    position: absolute
                    padding: 2rem
                .madurez-card2
                    color: white
                    font-size: 0.8rem
                    margin-left: 1rem
                    opacity: 0.9
                    position: absolute
                    padding: 6rem 2rem
                .fa
                    font-size: 6rem
                    color: white
                    padding: 0 0 0 16rem
                    opacity: 0.1
            .course__courses-iconos
                border-radius: 10px 10px 0 0
                display: flex
                flex-grow: 1
                justify-content: center
                .fa
                    color: white
                    opacity: 0.2
            .course__courses-iconos2
                background-color: #36ad5b
                border: 1px solid #5cbe75
                display: flex
                flex-grow: 1
                flex-wrap: wrap
                justify-content: space-around
            .fa
                color: white
                font-size: 24px
                opacity: 0.3
                padding: 10px 0 10px 0
            .course__courses-icono-matematica
                background-color: #ee5252
                border: 1px solid #fc7a6b
                display: flex
                flex-grow: 1
                flex-wrap: wrap
                justify-content: space-around
            .course__courses-icono-madurez
                background-color: #845abd
                border: 1px solid #a36fea
                display: flex
                flex-grow: 1
                flex-wrap: wrap
                justify-content: space-around
