.frame
    background-color: #e9eeee
    display: flex
    flex-wrap: wrap
    padding: 4rem 2rem 3rem 8rem
    .navbar__search-container
        align-content: space-around
        background-color: #e9eeee
        display: flex
        flex-grow: 1
        flex-wrap: wrap
    .navbar__bell-container
        background-color: #e9eeee
        flex-wrap: wrap
    .navbar__search
        background-color: white
        border-radius: 8px
        margin: 0 2rem 0 0
    input
        width: auto
