.frame
    background-color: #e9eeee
    display: flex
    .navbar__search-container
        background-color: #e9eeee
        flex-grow: 1
        left: 0
        padding: 25px
        padding-left: 6rem
    .navbar__bell
        background-color: #e9eeee
        flex-wrap: wrap
        flex-grow: 1
        justify-content: flex-end
        text-align: right
        padding: 25px
