.main
    background-color: #e9eeee
    padding: 4rem 0 0 1rem
    margin: auto
    .main__main-div
        background-color: #ffffff
        color: #019c97
        font-size: 2rem
        flex-grow: 1
        flex-wrap: wrap
        padding: 3rem 1rem 4rem 6rem
        .icon-book-1
            font-size: 2rem
.main__labels
    background-color: #e9eeee
    color: #019c97
    display: flex
    padding: 1px 0 0 70px
    .main__lab
        background-color: white
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        padding: 0 0 0 2rem
    .main__label2
        background-color: white
        color: #019c97
        padding: 1rem 2rem 0 1rem
    .main__label3
        background-color: white
        color: #7f7f7f
        padding: 1rem 2rem 0 1rem
    .main__label4
        background-color: white
        color: #7f7f7f
        padding: 1rem 0 0 1rem
