.navbar__left
    background-color: #2d3b3b
    height: 100%
    margin-top: 68px
    position: fixed
    .navbar__home
        background-color: #2d3b3b
        margin-top: 2rem
        padding: auto
        .fa
            color: #789494
            font-size: 28px
            margin-left: 1rem
            padding: 1rem 1rem 0 0
        .icon-home
            color: #01918d
