.navbar
    background-color: white
    margin: auto
    width: 100%
    .navbar__main-navbar
        background-color: white
        display: flex
        flex-grow: 1
        flex-wrap: wrap
        font-size: 1rem
        justify-content: flex-start
        .navbar__search-container
            background-color: green
            padding: 15px 30px
        .navbar__bell
            background-color: yellow
            padding: 25px
        .icon-paper-plane-empty
            font-size: 2rem
            padding: 1rem 1rem 0 0