.navbar__main-navbar
    display: flex
    padding: 0 0 6px 0
    .navbar__search-container
        flex-grow: 1
        .search
            background-color: #019c97
            display: flex
            margin: 10px 0 0 0
    .navbar__main-bell
        background-color: #019c97
        color: #a8e9e7
        display: flex
        text-align: right
        margin: 8px 0 0 0
        .bell
            background-color: #019c97
            display: flex
            margin: 5px 15px 0 0
            .icon-bell-alt
                padding: 0 2rem 0 0
            .icon-cog
                padding: 0 0 0 2rem
            .icon-sort-down
                padding: 0 2rem 0 0
            .line
                border-right: 1px solid #01a6a1
                height: 2rem
            .line2
                border-left: 1px solid #01a6a1
                height: 2rem
            .job
                font-size: 12px
                margin: 1px 0 0 0
    .icon-paper-plane-empty
        color: #c2fdfb
        font-size: 2rem
        padding: 10px 20px 5px 15px
    .icon-user-circle
        color: white
    @media screen and(max-width: 734px)
        .navbar__search-container
            display: none
