.navbar__main-navbar
    background-color: white
    display: flex
    font-size: 1rem
    justify-content: space-between
    margin-left: 1rem
    .navbar__search-container
        background-color: green
        flex-grow: 1
        left: 0
        padding: 15px 32px
    .navbar__bell
        background-color: yellow
        flex-wrap: wrap
        flex-grow: 1
        text-align: right
        padding: 25px
    .icon-paper-plane-empty
        font-size: 2rem
        padding: 1rem 1rem 0 0
