body {
  background-color: #e9eeee;
  font-family: Open Sans;
  margin: 0;
  max-width: 1800px;
  min-width: 680px;
  overflow-x: hidden;
  padding: 0; }
  body .navbar {
    background-color: #019c97;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; }
  body .navbar__bell {
    font-size: 20px; }
  body input {
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 370px;
    padding: 15px 10px 14px 15px; }
  body .button-icon {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0 8px 8px 0;
    margin: 0 0 0 -58px;
    padding: 11px 14px 11px 14px; }
  body .icon-search {
    color: #189c97;
    font-size: 20px; }
  body .icon-down-open {
    color: #b9bdbd;
    font-size: 20px; }
  body hr {
    border: 2px solid #019c97;
    margin: 1rem 0 0 0; }
  body h1 {
    padding-top: 1rem; }
  body p {
    margin-top: -14px; }

.navbar__main-navbar {
  display: flex;
  padding: 0 0 6px 0; }
  .navbar__main-navbar .navbar__search-container {
    flex-grow: 1; }
    .navbar__main-navbar .navbar__search-container .search {
      background-color: #019c97;
      display: flex;
      margin: 10px 0 0 0; }
  .navbar__main-navbar .navbar__main-bell {
    background-color: #019c97;
    color: #a8e9e7;
    display: flex;
    text-align: right;
    margin: 8px 0 0 0; }
    .navbar__main-navbar .navbar__main-bell .bell {
      background-color: #019c97;
      display: flex;
      margin: 5px 15px 0 0; }
      .navbar__main-navbar .navbar__main-bell .bell .icon-bell-alt {
        padding: 0 2rem 0 0; }
      .navbar__main-navbar .navbar__main-bell .bell .icon-cog {
        padding: 0 0 0 2rem; }
      .navbar__main-navbar .navbar__main-bell .bell .icon-sort-down {
        padding: 0 2rem 0 0; }
      .navbar__main-navbar .navbar__main-bell .bell .line {
        border-right: 1px solid #01a6a1;
        height: 2rem; }
      .navbar__main-navbar .navbar__main-bell .bell .line2 {
        border-left: 1px solid #01a6a1;
        height: 2rem; }
      .navbar__main-navbar .navbar__main-bell .bell .job {
        font-size: 12px;
        margin: 1px 0 0 0; }
  .navbar__main-navbar .icon-paper-plane-empty {
    color: #c2fdfb;
    font-size: 2rem;
    padding: 10px 20px 5px 15px; }
  .navbar__main-navbar .icon-user-circle {
    color: white; }
  @media screen and (max-width: 734px) {
    .navbar__main-navbar .navbar__search-container {
      display: none; } }

.navbar__left {
  background-color: #2d3b3b;
  height: 100%;
  margin-top: 64px;
  position: fixed; }
  .navbar__left .navbar__home {
    background-color: #2d3b3b;
    margin-top: 2rem;
    padding: auto; }
    .navbar__left .navbar__home .fa {
      color: #789494;
      font-size: 28px;
      margin-left: 1rem;
      padding: 1rem 1rem 0 0; }
    .navbar__left .navbar__home .icon-home {
      color: #01918d; }

.main {
  background-color: #e9eeee;
  padding: 4rem 0 0 1rem;
  margin: auto; }
  .main .main__main-div {
    background-color: #ffffff;
    color: #019c97;
    font-size: 2rem;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 3rem 1rem 3rem 6rem; }
    .main .main__main-div .icon-book-1 {
      font-size: 2rem; }

.main__labels {
  background-color: #e9eeee;
  color: #019c97;
  display: flex;
  padding: 1px 0 0 70px; }
  .main__labels .main__lab {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 0 0 2rem; }
  .main__labels .main__label2 {
    background-color: white;
    color: #019c97;
    padding: 1rem 2rem 0 1rem; }
  .main__labels .main__label3 {
    background-color: white;
    color: #7f7f7f;
    padding: 1rem 2rem 0 1rem; }
  .main__labels .main__label4 {
    background-color: white;
    color: #7f7f7f;
    padding: 1rem 0 0 1rem; }

.frame {
  background-color: #e9eeee;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 2rem 3rem 8rem; }
  .frame .navbar__search-container {
    align-content: space-around;
    background-color: #e9eeee;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap; }
  .frame .navbar__bell-container {
    background-color: #e9eeee;
    flex-wrap: wrap; }
  .frame .navbar__search {
    background-color: white;
    border-radius: 8px;
    margin: 0 2rem 2rem 0; }
    .frame .navbar__search .button-icon2 {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 0 8px 8px 0;
      margin: 0 0 0 -10px;
      padding: 10px 5px 12px 5px; }
  .frame input {
    border: 1px solid #ccc;
    width: auto; }

.main__course {
  background-color: #e9eeee;
  margin: auto; }
  .main__course .course {
    background-color: #e9eeee;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 6rem 0 0; }
    .main__course .course .course__courses {
      background-color: #ffffff;
      border-radius: 15px 15px 15px 15px;
      flex-wrap: wrap;
      height: 400px;
      margin: 0 0 2rem 2rem;
      width: 430px; }
      .main__course .course .course__courses .course__courses-madurez {
        border-radius: 15px 15px 0 0;
        display: flex; }
        .main__course .course .course__courses .course__courses-madurez .course__courses-madurez1 {
          background-color: #845abd;
          border-radius: 15px 15px 0 0;
          flex-grow: 1; }
        .main__course .course .course__courses .course__courses-madurez .lectura {
          background-color: #36ad5b; }
        .main__course .course .course__courses .course__courses-madurez .matematica {
          background-color: #ee5252; }
        .main__course .course .course__courses .course__courses-madurez .madurez-card1 {
          color: white;
          font-size: 2rem;
          margin-left: 1rem;
          opacity: 0.9;
          position: absolute;
          padding: 2rem; }
        .main__course .course .course__courses .course__courses-madurez .madurez-card2 {
          color: white;
          font-size: 0.8rem;
          margin-left: 1rem;
          opacity: 0.9;
          position: absolute;
          padding: 6rem 2rem; }
        .main__course .course .course__courses .course__courses-madurez .fa {
          font-size: 6rem;
          color: white;
          padding: 0 0 0 16rem;
          opacity: 0.1; }
      .main__course .course .course__courses .course__courses-iconos {
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-grow: 1;
        justify-content: center; }
        .main__course .course .course__courses .course__courses-iconos .fa {
          color: white;
          opacity: 0.2; }
      .main__course .course .course__courses .course__courses-iconos2 {
        background-color: #36ad5b;
        border: 1px solid #5cbe75;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around; }
      .main__course .course .course__courses .fa {
        color: white;
        font-size: 24px;
        opacity: 0.3;
        padding: 10px 0 10px 0; }
      .main__course .course .course__courses .course__courses-icono-matematica {
        background-color: #ee5252;
        border: 1px solid #fc7a6b;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around; }
      .main__course .course .course__courses .course__courses-icono-madurez {
        background-color: #845abd;
        border: 1px solid #a36fea;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around; }

/*# sourceMappingURL=main.css.map */
