
.icon-cog:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-cog-1:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */