
.icon-search:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-home-2:before { content: '\e802'; } /* '' */
.icon-book-1:before { content: '\e803'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */