
.icon-cog:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */